{% extends 'base.html' %}
{% block title %}賴振宇的履歷{% endblock title %}
{% block message %}

<h1><p class="text-center fw-bold">個人資料</p></h1>

<div class="form">
    <div class="photo">
      <img src="/static/image/my_photo.JPG"  />
    </div>
    <div class="text">        
      <h3><p align=center class = "fw-bold" >賴振宇  Larry</p></h3>
      <h5><p align=center class="lh-lg" style = "margin:30px"><img src="/static/image/birthday.png" width="30px" alt="">2002/10/15</p></h5>
      <h5><p align=center class="lh-lg" style = "margin:30px"><img src="/static/image/mobile.png" width="30px" alt="">0988963737</p></h5>
      <h5><p align=center class="lh-lg" style = "margin:30px"><img src="/static/image/mail.png" width="30px" alt="">larry40305@gmail.com</p></h5>
      <h5><a href="https://www.facebook.com/profile.php?id=100004357149190"><p align=center class="lh-lg text-decoration-none" ><img src="/static/image/facebook.png" width="20px" alt="">Facebook</p></a></h5>

    
    </div>
  </div>
{% endblock message %}
