{% extends 'base.html' %}
{% block title %}賴振宇的履歷{% endblock title %}
{% block message %}
<h1><p class="text-center fw-bold">語言能力</p></h1>
<div class="form">
    <div class="photo">
      <img src="/static/image/my_photo.JPG"  />
    </div>
    <div class="text">        
      <h3><p align=center class = "fw-bold">賴振宇  Larry</p></h3>
      <h4><p align=center class="lh-lg fw-bold"style = "margin:40px"><img src="/static/image/TOEIC.jpg" align=center width="120px" alt=""><font size = "5">多益</font></p></h4>
      <h4><p align=center class="lh-lg "style = "margin:40px">705 分</p></h4>

    </div>
  </div>
{% endblock message %}