{% extends 'base.html' %}
{% block title %}賴振宇的履歷{% endblock title %}
{% block message %}
<h1><p class="text-center fw-bold">其他</p></h1>
<style>
    .form{
      width: 800px;
      margin: 50px auto;
      border:dotted 5px rgb(0, 238, 255);
      overflow: hidden; /* 避免長方框下面顯示不正常 */
    }
    .text{
      float: middle;  /* 文字在右邊 */
      width: 800px;
      padding: 20px 20px 0px 0px;
    }
</style>
<div class="form">
    <div class="text">        
      <h4><p align=center class = "fw-bold">圖片來源</p></h4>
      <h5><a href="https://www.iconshock.com/"><p align=center class="lh-lg "style = "margin:40px">https://www.iconshock.com/</p></a></h5>
      <h5><a href="https://idol.st/"><p align=center class="lh-lg "style = "margin:40px">https://idol.st/</p></a></h5>


    </div>
  </div>
{% endblock message %}